<% provide(:title, t(:contact_us)) %>

<div class="card mb-3 shadow-lg rounded border">
  <div class="row align-items-start card-body text-dark">
    <div class="col">
        <%= render 'form' %>
    </div>
    <%# <div class="col p-2 rounded-lg m-1">


    </div> %>
  </div>
</div>

