@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

@import 'bootstrap/dist/css/bootstrap';

.americas_map{
  width: 274px;
  height: 450px;
}

.legend_map{
  width: 451px;
  height: 64px;
}

.europe_map {
  width: 118px;
  height: 145px;
}

.russia_map{
  width: 333px;
  height: 145px;
}

.africa_map{
  width: 153px;
  height: 241px;
}

.asia_map{
  width: 298px;
  height: 94px; 
}

.australia_map{
  width: 160px;
  height: 147px; 
}

.ocean_map{
  width: 138px;
  height: 147px; 
}