@import "bootstrap-icons/font/bootstrap-icons";
@font-face {
  font-family: "bootstrap-icons";
  src: font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
    font-url("bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

@import 'bootstrap/dist/css/bootstrap';

@media only screen and (max-width: 480px) {
// @media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .tablemobile {
    overflow-x: auto;
    display: block;
  }
}

.admin_links{
  text-decoration: none;
  color: black;
  &:hover, &:focus {
    color: #b4b4b4; 
  }
}

.footer_links{
  text-decoration: none;
  color: white;
  &:hover, &:focus {
    color: #b5b5b5; 
  }
}

.accordion-button:not(.collapsed) {
  background: #606060;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(150, 150, 150, 0.883);
}

.accordion-button:focus {
  border-color: #aaaaaa;
  box-shadow: 0 0 0 0.25rem rgba(189, 189, 189, 0.883);  
}

.accordion-button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' stroke='white' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

