<footer class="bg-dark text-center mt-auto small footer text-white">
  <div class="container p-1">
      <div class="row justify-content-center">

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <a href="https://mangrovegarden.org" target="_blank" class="footer_links">Mangrove Garden Foundation</a>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
          <%= link_to "Contact Us", new_contact_form_path, class: "footer_links" %>
        </div>
        <!--Grid column-->
      </div>
  </div>

    <div class="container-fluid text-center" style="background-color: rgba(0, 0, 0, 0.2);">
    <div class="row p-2">
      <div class="col text-start">
        © 2022 Copyright:
        <a class="footer_links" href="#">mangroveworld.org</a>
      </div>
      <div class="col text-end">
        Developed by: 
        <a href="#" target="_blank" class="footer_links">NTR Computer Services</a>
      </div>
    </div>

</footer>
