<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to image_tag('mgw_brand.jpg'), root_path %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav ">
      <%# me-auto mb-2 mb-lg-0 %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Continents
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% @continents.each do |continent| %>
              <li>
                <%= link_to continent.name, continent_path(continent), class: "dropdown-item" %>
              </li>
            <% end %>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "Contact Us", new_contact_form_path, 
              class: "#{request.path == new_contact_form_path  ? "nav-link active" : "nav-link"}" %>
        </li>
      </ul>
    </div>
  </div>
</nav>